.social{
    display: flex;
    column-gap: 8px;

    margin-top: 24px;
}

.social-link{
    width: 46px;
    height: 46px;

    background-color: var(--background-body);
    border-radius: 4px;

    color: var(--secondary);
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: all 0.3s ease;
}

.social-link:hover{
    color: #fff;
    background-color: var(--link);
    transform: translateY(-8px);

}

.social-link i{
    font-size: 22px;
}

